* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  background-color: cadetblue;
  height: 120px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}

header h1 {
  display: flex;
  font-size: 48px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.nav-element {
  background-color: #818181;
  justify-content: flex-end;
  display: flex;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 2;
  list-style-type: none;
  max-width: 100%;
}

.nav {
  display: flex;
  padding: 20px;
  list-style-type: none;
  max-width: 100%;
}

.nav-element a {
  display: flex;
  margin: 8px 30px 10px 30px;
  justify-content: flex-end;
  color: white;
  font-size: xx-large;
}

.image {
  max-width: 100%;
  background-image: url(./assets/20201006_184519wilm20we.jpg);
  height: auto;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0;
}

aside {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 2px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  width: 260px;
  background-color: gray;
  font-size: 25px;
  color: white;
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: flex-start;
  border: 2px solid;
  border-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description-area {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.bio {
  background-color: thistle;
  justify-content: flex-end;
  display: flex;
}
p {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #818181;
  padding: 35px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 1320px;
}

.portfolio-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.card {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #818181;
  padding-top: 2px;
  padding-bottom: 40px;
  display: block;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #818181;
  width: 1320px;
}
.card img {
  width: 30%;
  height: 70%;
  padding-top: 2px;
  padding-bottom: 40px;
}
.card p {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding-top: 40px;
  padding-bottom: 2px;
  display: flex;
  justify-content: start;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 1320px;
}

#contact-area {
  display: flex;
  font-size: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: thistle;
  padding: 0;
}

h3 {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 80px;
  color: #818181;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  background-color: thistle;
  display: flex;
  justify-content: center;
  width: 1320px;
  padding: 80px;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: list-item;
  color: #818181;
  list-style-type: none;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 80px;
}

footer {
  background-color: cadetblue;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  width: 1580px;
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
h4 {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 25px;
  flex-direction: space;
  column-span: all;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
/* Need to add media screens for responsive layouts*/
@media screen and (min-width: 768px) {
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-column:last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
